@model IEnumerable<scheduler.Models.PlannerTask>

@{
    ViewBag.Title = "Планировщик";
}



@* Форма добавления *@

@Html.Partial("PartialAddForm")

    <div id="task-list">
        @* Все текущие задания: *@
        @if (ViewBag.CurrentTasksCount > 0)
        {
            @Html.Partial("PartialCurrentTasks")
        }

        @* Полка заданий: *@

        @Html.Partial("PartialShelfTasks")

        @* Просроченные задания: *@
        @if (ViewBag.ExpiredTasksCount > 0)
        {
            @Html.Partial("PartialExpiredTasks")
        }
    </div>




@section scripts {

    <script type="text/javascript">

        $(function () {
            $('[data-toggle="popover"]').popover()
        });

        $(function () {
            $.ajaxSetup({ cache: false });
            $(".edit_link").click(function (e) {

                e.preventDefault();

                $.get('ModalEditTask/' + this.id, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })

    </script>

}
